<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="鲜花与牛粪"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AuthActivity"
            android:label="鲜花与牛粪"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="鲜花与牛粪"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".PvELobbyActivity"
            android:label="人机游戏大厅"
            android:exported="false" />
        <activity
            android:name=".PvPLobbyActivity"
            android:label="人人游戏大厅"
            android:exported="false" />
        <activity
            android:name=".PrivateRoomActivity"
            android:label="私密房间"
            android:exported="false" />
        <activity
            android:name=".LocalGameActivity"
            android:label="鲜花与牛粪"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>
</manifest>