<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="鲜花与牛粪"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="鲜花与牛粪"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="鲜花与牛粪"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".LobbyActivity"
            android:label="游戏大厅"
            android:exported="false" />
        <activity
            android:name=".PrivateRoomActivity"
            android:label="私人房间"
            android:exported="false" />
        <activity
            android:name=".CrashReportActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>
</manifest>